<!-- Completed events -->
	<h2 class="events-subheading pt-3 pb-2 ">Concluded</h2>
	<div class="d-flex flex-wrap">
		<!--IPL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Ipl.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 9 - 10 Oct<br>Event concluded<br>Prize Pool: 20k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-ipl">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_ipl') -%>
		</div>
		
				<!--SHUTTERBUG-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/ShutterBug.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 8 - 14 Oct<br>Event concluded<br>Prize Pool: 5k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-shutter">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_shutterbug') -%>
		</div>
		
<!--MARATHON-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Marathon.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 16 - 17 Oct<br>Registration ends : 15 Oct<br>Prize Pool: 10k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-marathon">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_marathon') -%>
		</div>
		
			<!--FITNESS CHALLENGE-->
       <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Fitness.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 2 - 20 Oct<br>Registration ends : 20 Oct
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-fitness">
                 		 	READ MORE
                    	</a>
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div> 
		

		<div>
			<%- include('event_reg_modals/events_fitness') -%>
		</div>
		
			<!--WEEKLY TRIVIA-->
	<div class="col pb-3">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="images/WeeklyTrivia.jpg" alt="Avatar" id="card-img">
				</div>
				<div class="flip-card-back">
					<div class="flip-para">Follow us on Instagram<br><a href="https://instagram.com/spirit_iitguwahati" style="text-decoration: none; color:white;" target="_blank">(@spirit_iitguwahati)</a> to 												participate in our exciting Weekly Trivia quizzes.<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	
			<!--SPORTS QUIZ-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Sportsquiz.jpeg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Prelims: 20 Oct<br>Event Finals: 23 Oct<br>Prize Pool: 5k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-sportsquiz">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_sportsquiz') -%>
		</div>
	
	<!--CHESS-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Chess.jpeg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 22 - 24 Oct<!--<br>Registration ends : 15 Oct--><br>Prize Pool: 30k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-chess">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_chess') -%>
		</div>
		
				<!--CRICKET FANTASY-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/CricketFantasy.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 24 Oct<!--<br>Registration ends : 15 Oct<br>Prize Pool: 30k-->
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-cricketfantasy">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_cricketfantasy') -%>
		</div>
	
		<!--BGMI-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/BGMI.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 23-24 Oct<br>Registration ends : 22 Oct<br>Prize Pool: 10k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-bgmi">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_bgmi') -%>
		</div>

			<!--TREASURE HUNT-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Treasure.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 22 - 24 Oct<!--<br>Registration ends : 15 Oct--><br>Prize Pool: 5k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-treasure">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_treasurehunt') -%>
		</div>
		
	

		
	</div>
