
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
    body{
      background-image: url("../../public/images/49bg.svg");
    }
    .bigContainer {
      height: auto;
      width: 100wh;
      overflow-x: hidden;
      margin: 0%;
    }
    .cont {
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 5%;
      display: flex;
    
      margin-bottom: 0%;

    }
    .cont1 {
      margin-top: 5%;
       
      flex-direction: row;
      margin-right: 4%;
      line-height: 0%;
      width: 45%;

    }
    .cont1 > h6 {
      margin: 0.5%;
      width: 31%;
      height: auto;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 150%;
      line-height: 32px;
      color: #11002c;
      white-space: nowrap;
    }
    .cont1 > h4 {
      margin: 0.5%;
      width: 65%;
      height: auto;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 250%;
      line-height: 64px;
      color: #11002c;
      white-space: nowrap;
    }
    .cont1 > p {
      margin-top: 3%;
      width: 85%;
      height: auto;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #11002c;
    }
    .cont2 {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 100%;
      
      padding-bottom: 0.5%;
      box-shadow: 10px 50px 50px rgba(20, 11, 34, 0.05);
      border-radius: 12px;
      margin-top: 6%;
      margin-right: 3%;
      margin-left: 10%;
      margin-bottom: 10%;
      line-height: 0%;
    }
    .cont2 > h1 {
      margin: 0%;
      margin-left: 2%;
      width: 331px;
      height: 59px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 38.6626px;
      line-height: 59px;
      text-align: left;
      color: #282938;
    }
    .cont2 > p {
      margin: 0%;
      width: 100%;
      height: 52px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 14.7286px;
      line-height: 26px;
      color: #000000;
    }
    .cardd {
      line-height: 0%;
      margin: 5%;
    }
    .cardd > h6 {
      margin: 0%;
      width: 54.27px;
      height: 30px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 16.5697px;
      line-height: 29px;
      text-align: left;
     
      white-space:nowrap;
    }
    .TextBox {
      width: 100%;
      height: 40px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 14.7286px;
      line-height: 26px;
      text-align: left;
      color: #000000;
      margin-left: 2%;
      margin-right: 2%;
      border-color: rgb(175, 167, 167);
      box-shadow: 1px rgb(175, 167, 167);
      border-radius: 5px;
    }
    .TextMsg {
      width: 100%;
      height: 19vh;
      color: #000000;
      border-color: rgb(175, 167, 167);
      box-shadow: 1px rgb(175, 167, 167);
      border-radius: 5px;
    }
    ::placeholder {
      padding-left: 1%;
      padding-top: 5%;
      padding-bottom: 5%;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      margin-left: 10%;
      font-size: 14.7286px;
      line-height: 26px;
      text-align: left;
      color: #000000;
    }
    .bttns{
        flex-direction: column;
        display: flex;
        margin-bottom: 5%;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-myclass {
        margin: 3%;
      width: 35% !important;
      padding: 4% !important;
      font-size: 2vh;
      cursor: pointer;
      background-color: #AB7BFF !important;
    }
    .btn-block{
        margin: 3%;
        font-size: 2vh;
        cursor: pointer;
      background-color: #301956 !important;
    }
    .btn-block:hover {
      font-size: 2.1vh;
      background-color: #11002c !important;
    }
    .aboutUs {
      width: 45vw;
      height: auto;
    }
    .icon {
      display: flex;
      height: auto;
      width: 75%;
      margin: 3%;
    }

    .c1 {
      flex-direction: column;
      margin: 4%;
      height: 10%;
      width: 15%;
    }
    .c1 > i {
      margin: 2%;
      padding: 15%;
      height: 10%;
      width: auto;
      font-size: 100%;
      background-color: #11002c;
      color: white;
      box-shadow: 0% 5% 10% rgba(181, 67, 0, 0.05);
      border-radius: 19%;
    }
    .c1 > i:hover {
      font-size: 120%;
      background-color: #260f4a;
    }
    .c2 {
      margin: 3%;
      margin-left: 10px;
      flex-direction: column;
    }
    .c2_child {
      flex-direction: row;
      margin: 2%;
      margin-left: 0%;
      margin-right: 1%;
    }
    .c2 > h6 {
      flex-direction: row;
      width: 100%;
      height: auto;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 3vh;
      line-height: 28px;
      color: #ab7bff;
      text-decoration: #ab7bff !important;
      white-space: nowrap;
    }
    .c2 > h6 > a {
      text-decoration: none !important;
    }
    .c2 > h2 {
      white-space: nowrap;
      flex-direction: row;
      margin: 3%;
      margin-left: 2px;
      width: 100%;
      height: 5vh;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 2.5vh;
      line-height: 28px;
      color: #11002c;
      text-decoration: none !important;
    }
    
    
    
    .TextBox{
  /* position: relative;
  top: 5px; */
  margin-left: 2%;
  margin-right: 2%;
  font-size: 90px;
  border-radius: 7.3643px;
  font-family: 'Outfit';
  font-weight: 400px;
  width: 100%;
  height: 59.14px;
  border-color: rgb(141, 127, 106);
  border-width: 1px;
}

#password {
   margin-left: 2%;
  margin-right: 2%;
  
   position: relative;
  top: 5px;
  font-size: 25px;
  border-radius: 7.3643px;
  font-family: 'Outfit';
  font-weight: 400px;
  width: 100%;
  height: 59.14px;
  border-color: rgb(141, 127, 106);
  border-width: 1px;
} 
.formSubmit{
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.8081px 46.9474px;
  color: white;
  /* gap: 9.21px; */
  /* position: relative;
  top: 0%;
  left: 0%; */
   
  /* margin-bottom: 10%; */
  margin-left: 2%;
  margin-right: 2%;
  width: 233.82px;
  height: 58.91px;
  border-color: white;
  background: #AB7BFF;
  border-radius: 12px;


}
.eve_img{
    max-height: 450px;
    max-width: 400px;
    width: 100%;
    height: 95% ;
  }
 
#button2 {
  display: flex;
  /* position: relative;
  left: 4px;
  top: 50px; */
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.8081px 46.9474px;
  gap: 9.9px;
  border-color: white;
  width: 434.42px;
  height: 58.91px;

  border-color: white;
  background: #11002C;
  border-radius: 12px;


}
    @media only screen and (max-width: 980px) {
      .cont {
        display: flex;
        flex-direction: column;
      }
      .cont1 {
        margin-right: 4%;
        line-height: 0%;
        width: 100%;
      }
      .cont2 {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background: #ffffff;
        float: right;
        box-shadow: 0px 9.58449px 19.169px rgba(69, 0, 181, 0.05);
        border-radius: 12px;
        margin-top: 10%;
        margin-right: 2%;
        margin-left: 0%;
        margin-bottom: 15%;
        line-height: 0%;
      }
      .c1 {
        display: flex;
        align-items: center;
      }
      .c2 {
        margin: 3%;
        margin-top: 0%;
        margin-left: 20px;
        flex-direction: column;
      }
      .c2 > h2 {
        white-space: nowrap;
      }
      .c2 > h6 {
        white-space: nowrap;
      }
      
    }
  </style>
  <body>
    <div class="bigContainer">
      <div class="cont">
        <div class="cont1">
           
          <h4 id="name-div" data-test=<%=name%>><%=name%></h4>
          <p>
            Got questions? Got feedback? Got suggestions? Drop us a line below
            and we promise to get back to you!
          </p>
          <h4>03 oct</h4>
          <div class="eve_img" id="eve_img">
          <img src="/images/randomimg.jpg" alt="" style=" max-height: 575px; max-width: 400px;
          width: 100%;
height: 95% "  > 
            
             
          
          </div>
          <!-- <div class="aboutUs">
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-envelope fa"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/Mail"> Mail </a>
                </h6>
                <h2 class="c2_child">Contact Us</h2>
              </div>
            </span>
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-phone"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/Callpage"> Phone </a>
                </h6>
                <h2 class="c2_child">Call Us</h2>
              </div>
            </span>
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-location-arrow"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/LocateUs"> Locate Us </a>
                </h6>
                <h2 class="c2_child">Locate Us</h2>
              </div> -->
            <!-- </span>
          </div> -->
        </div>
        
        <div class="cont2">
            <form id="event-form" method="POST" >

          <div class="cardd">
            <h6>Full Name</h6>
             
            <input type="text" name="email" style="font-size: 15px;font-weight: 400;" id="name"
                     value=<%=user.username%> class="TextBox">
            
          </div>
          <div class="cardd">
            <h6>School/College</h6>
            <input type="text" name="email" style="font-size: 15px;font-weight: 400;" id="college"
                     value=<%=user.collegename%> class="TextBox">
             
          </div>
          <div class="cardd">
            <h6>Email Address</h6>
            <input type="email" name="email" style="font-size: 15px;font-weight: 400;" id="mail"
                     value=<%=user.email%> class="TextBox">
             
          </div>
          <div class="cardd">
            <h6>Contact Number</h6>
                     <input type="text" name="password" style="font-size: 15px;font-weight: 400;" id="phone"
                     value=<%=user.phno%> class="TextBox">
             
          </div>
          <div class="cardd">
            <h6>Campus Ambassador ID(optional)</h6>
                     <input type="text" name="password" style="font-size: 15px;font-weight: 400;" id="cmpid"
                     value="" class="TextBox">
             
          </div>
           <div style="padding-left:20%">
            <input type="submit" class="formSubmit" value="Register"/>
           </div>
          

           <!-- <button type="button" id="button1">Login</button>
           <button type="button" id="button2">Login with google</button>
           <br>
            
           <button type="button" id="button2"> Login with outlook</button> -->
            </form>  
        </div>
        
        </div>
      </div>
    </div>
    <script>

        
        // var event_name= document.getElementById('name-div').dataset.name;
        event_name="<%=name%>";
        var form = document.getElementById('event-form')
                form.addEventListener('submit', registerForm)
                async function registerForm(event) {
                    event.preventDefault()
                    let id = '<%=user._id%>'					
                    var full_name = document.getElementById('name').value
                    var email_address = document.getElementById('mail').value
                    var college = document.getElementById('college').value
                    var contact_number = document.getElementById('phone').value
                    var amb_id = document.getElementById('cmpid').value
                    console.log(full_name);
                    console.log(email_address);
                    console.log(college);
                    console.log(contact_number);
                    console.log(amb_id);
                    var result = await fetch(`/events/event_registration/post/${event_name}/${id}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            full_name,event_name,email_address,college,contact_number,amb_id
                        })
                    }).then((res) => res.json())
    
                    if (result.status === 'ok') {
                        alert('Success')
                    } else {
                        alert(result.error)
                    }
            }
      </script>
  </body>
  
</html>
