<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit 2021 | Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/dashboard1.css" />

</head>

<body>
    <div style="padding-left: 8%;padding-right: 8%;">
        <div class="screenclass row py-5">
            <div class="col-sm-12 col-md-12 col-lg-6 hello">
                <div class="cont2">
                    <div>
                        <img class="mx-2" style="border-radius: 12px; width: 30%; height: 30%;"src="images/image 13.png" />
                        <img class="mx-2" src="images/Frame 48095593.svg" style="width: 57%; height: 30%;" alt="">
                    </div>
                    <h1>Hello <%=user.username%>!</h1>
                    <p>
                        It's good to see you again.
                    </p>
                      <div class="cardd">
                        <h6>Username</h6>
                        <input type="username" name="username" style="font-size: 15px;font-weight: 400;" id="mail"
                          placeholder="  <%=user.username%>" class="TextBox">
                        <!-- <input
                            type="email"
                            placeholder="Enter Your Email"
                            name="emailId"
                            class="TextBox"
                          /> -->
                      </div>
                    <div class="cardd">
                      <h6>Email</h6>
                      <input type="email" name="email" style="font-size: 15px;font-weight: 400;" id="mail"
                        placeholder="  <%=user.email%>" class="TextBox">
                      <!-- <input
                          type="email"
                          placeholder="Enter Your Email"
                          name="emailId"
                          class="TextBox"
                        /> -->
                    </div>
                    <div class="cardd">
                      <h6>College</h6>
                      <input type="text" name="college" style="font-size: 15px;font-weight: 400;" id="password"
                        placeholder="  <%=user.collegename%>" class="TextBox">
                      <!-- <input
                          type="password"
                          placeholder="Enter Your Password"
                          name="emailId"
                          class="TextBox"
                        /> -->
                    </div>
                    <div class="bttns edit_button_register">
                      <div class="button">
                        <button type="button" style="margin-top: 5%"id="button1">Edit</button>
                      </div>
                    </div>
            
                    <!-- <button type="button" id="button1">Login</button>
                       <button type="button" id="button2">Login with google</button>
                       <br>
            
                       <button type="button" id="button2"> Login with outlook</button> -->
                  </div>
            </div>
            
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p class="registered_event ">Registered Event</p>
                <div class="myclass">

                    <div class="reg_events">
                        <% var isIpladded = false;
                        var isShutterbugadded = false;
                        if(user.storerandompassword){ 
                            isIpladded = true;%>
                            <!-- <img class="event_img" src="images/Ipl.png"> -->
                            <div class="card my-4 reg-cards">
                                <div class="px-4 py-4">
                                    <img src="images/Ipl.png" />
                                </div>
                                <div class="card-body container">
                                    <h5 class="row card-title mb-2">
                                        <div class="col-sm-8 col-lg-9">Event Name</div>
                                        <div class="col-sm-4 col-lg-3">Date</div>
                                    </h5>
                                    <p class="card-text col-sm-6">
                                        Discuss team tasks for the day.
                                        Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                        day.
                                    </p>
                                </div>
                            </div>

                        <% } %>
                        <!-- Dont include else if part here else only iplauction event will show -->
                        <%if(user.events_registered.length > 0){
                            var img_src = '';
                            var img_name = '';
                            for (var i=0; i<user.events_registered.length; i++){
                                    switch(user.events_registered[i]){
                                    case 'shutterbug': {
                                        img_src = 'images/ShutterBug.jpg'; 
                                        img_name = 'ShutterBug';
                                        isShutterbugadded = true; 
                                        break;
                                    }
                                    case 'Shutterbug': {
                                        img_src = 'images/ShutterBug.jpg'; 
                                        img_name = 'ShutterBug';
                                        isShutterbugadded = true; 
                                        break;
                                    }
                                    case 'marathon': {
                                        img_src = 'images/Marathon.jpg'; 
                                        img_name = 'Marathon';
                                        break;

                                    }
                                    case 'fitness': {
                                        img_src = 'images/Fitness.png'; 
                                        img_name = 'Fitness';
                                        break;
                                    }
                                    case 'fantasy': {
                                        img_src = 'images/CricketFantasy.jpg'; 
                                        img_name = 'Fantasy';
                                        break;
                                    }
                                    case 'treasure_hunt': {
                                        img_src = 'images/Treasure.jpg'; 
                                        img_name = 'Treasure Hunt';
                                        break;
                                    }
                                    case 'cricket_workshop': {
                                        img_src = 'images/Cricketworkshop.jpg'; 
                                        img_name = 'Cricketworkshop';
                                        break;
                                    }
                                    case 'chess': {
                                        img_src = 'images/Chess.jpeg'; 
                                        img_name = 'Chess';
                                        break;
                                    }
                                    case 'Ipl Auction': 
                                        if(isIpladded == false){
                                            img_src = 'images/Ipl.png';
                                            img_name = 'IPL Auction'
                                        } 
                                        break;
                                    }
                                if(img_src != ''){ %>
                                    <!-- <a href="/events" class="event_img">
                                        <img width="100%" src=<%= img_src %> alt="event_poster">
                                    </a> -->

                                    <div class="card my-4 reg-cards">
                                        <div class="px-4 py-4">
                                            <img src=<%= img_src %> />
                                        </div>
                                        <div class="card-body container">
                                            <h5 class="row card-title mb-2">
                                                <div class="col-sm-8 col-lg-9"><%= img_name %></div>
                                                <div class="col-sm-4 col-lg-3">Date</div>
                                            </h5>
                                            <p class="card-text col-sm-6">
                                                Discuss team tasks for the day.
                                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                                day.
                                            </p>
                                        </div>
                                    </div>
                                    
                                <%}else{%>
                                    <div class="data_text event">
                                        <%=user.events_registered[i].replace("Ipl", "IPL") %> 
                                    </div>
                                <%}%>
                            
                        <!-- <div class="data_text event">
                            <%=user.events_registered[i].replace("Ipl", "IPL") %> 	
                        </div> -->	
                        <%}}else if(isIpladded == false){%>
                            <div class="data_text event">You have not registered for any events.</div>
                        <%}%>
                        
                    </div>

                    <!-- <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div> -->

                    <!-- <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer') -%>

</body>

</html>