<!DOCTYPE html>
<html lang="en">

<%- include('../basicwlb') -%>
<head>
	<link rel="stylesheet" href="css/aboutus_style.css" />
</head>
<body>
	<!-- NAVBAR CODE -->
	<%- include('../navbar-nonsticky') -%>
	
	<h2 class="abtus-title fw-bold">About Us</h2>
		
		<div>
			<%- include('intro_aboutus') -%>		
		</div>

		<!--<div>
			<%- include('gallery_aboutus') -%>		
		</div>-->

		<div>
			<%- include('team_aboutus') -%>
		</div>

	<!--FOOTER-->
	<%- include('../footer') -%>
	
</body>
</html>